body {
    background-color: lightpink;
    font-family: 'Dancing Script', cursive;
    color: ivory;
}

h1 {
    font-size: 75px;
    text-align: center;
}

.blabla {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

#zodiac {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 300px;
    align-items: center;
    margin: 0;
}

#votre_signe {
    font-size: 30px;
}

#choix {
    background-color: ivory;
    border-radius: 10px;
    border-color: ivory;
}

#choisir_signe{
    height: inherit;
    flex-basis: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#people {
    width: 300px;
    list-style-type: none;
}


#icon2{
    height: inherit;
    background: `url('${activePicture.src}') 1%`;
}

.backgroundwindow {

}

/*SECTION.select-icon{
    flex-basis: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
*/


.picture-active {
    position: relative;
    width: 150px;
    height: auto;
    display : block !important;
}



.signe {
    display: none;
    width: 150px;
    height: 150px;
}

#inputQuestion{
    border-style: none;
    background-color: ivory;
    margin-left: 20px;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    margin: 0;
    font-size: 30px;
}

#button {
    margin-top: 150px;
}

#submit {
    border-radius: 90px;
    background-color: ivory;
    width: 100px;
    height: 100px;
}

 #roxane{
     width: 50px;
     height: auto;
 }

#mask {
    display: none;
}

#mask.modal-active{
    display: initial!important;
}
#result {
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right : 0;
    bottom : 0;
    animation: shade 2s forwards;
}

#cadre{
    justify-content: space-evenly;
    background: lightpink;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    color :ivory;
    text-align: center;
    animation: showUp 2s forwards;
    position: relative;
    display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border-radius: 4%;
    margin-top: 10%;
	animation-duration: 1s;
	animation-name: goUpAndCenter;
	transition-timing-function: ease-out;
}

@keyframes goUpAndCenter{
	from{
		margin-top: 100%;		
	}
}


.modal-active{
    width: 150PX;
    height auto;
}

#dailyhoroscope{
    
}